{% extends "./base1.html" %}
{% load static %}

{% block title %}Chants RedBucks{% endblock %}
{% block content %}


    <img src="{%static 'style/img/photo_chants.jpg' %}" class="img_accueil" alt="image">

    <div class="contenu">
        <br>
        <hr>
        <div class="text-center">

            <h2 class="titre_partie">NOS CHANTS</h2>

            <div class="presentation">

                <p class="texte_presentation">
                    Le sport est sans saveur sans les supporters qui te font vibrer lors du
                    match! <br>
                    Tu trouveras ci-dessous une liste exhaustive des chants à la gloire des équipes
                    électro-centraliennes. Tout bon RedBuck se doit de les connaître pour mettre le feu aux tribunes.
                </p>

            </div>

            <div class="presentation">

                <img src="{%static 'style/img/tournoi foot bnp pics/bnp2.jpg' %}" class="photo_chant">
                <p class="texte_presentation_droite">
                    <em style="font-weight:bold">Aller CS Aller</em> <br><br>
                    Aller CS Aller <br>
                    [Ad vitam eternam] <br>
                    (Taper des mains sur le même rythme)
                </p>

                <p class="texte_presentation_gauche">
                    <em style="font-weight:bold">Oh ma néné!</em> <br><br>
                    OH MA NENE! <br>
                    Oh ma néné! <br>
                    Oh ma néné! <br>
                    Ma néné de tumba! <br>
                    Oh massa massa massa! <br>
                    Oh ma néné, ma néné de tumba <br>
                    [Doubler chaque ligne]
                </p>
                <img src="{%static 'style/img/tournoi foot bnp pics/bnp2.jpg' %}" class="photo_chant">

                <p class="texte_presentation_droite">
                    <em style="font-weight:bold">Debout CS</em> <br>
                    (Sur l'air du chant Hé Montpellier des supporter du MHFC) <br><br>
                    Deeeeeeebout CS <br>
                    Prépare toi pour ta caisse <br>
                    On est venu pour gagner <br>
                    Ce soir on va le fêter <br>
                    [En boucle]
                </p>

                <p class="texte_presentation_gauche">
                    <em style="font-weight:bold">CS en chaleur</em> <br>
                    (Sur l'air "Will Grigg on fire"/du refrain de "Free from Desire") <br><br>
                    Your defense is terrified <br>
                    [nom de la star/sex symbol electro-centralienne] on fire <br>
                    Allez tous planquer vos soeurs <br>
                    Y a CS on fire <br>
                    [nom de l'école adversaire] ne nous fait pas peur <br>
                    CS en chaleur
                </p>

                <p class="texte_presentation_droite">
                    <em style="font-weight:bold">Debout CentraleSupélec</em> <br>
                    (Le classique chant de promo, on le rappelle quand même) <br><br>
                    Debout CentraleSupélec [x4] <br><br>
                    Assis CentraleSupélec [x4] <br><br>
                    Debout CentraleSupélec [x4] <br><br>
                    Couché CentraleSupélec [x4] <br><br>
                    Debout CentraleSupélec [x4] <br><br>
                    A poil CentraleSupélec [x4]
                </p>

                <p class="texte_presentation_gauche">
                    <em style="font-weight:bold">Je crois pas que vous connaissez!</em> <br>
                    (Sur l'air de la fameuse chanson de Benjamin Pavard) <br><br>
                    CentraleSupélec <br>
                    Je crois pas que vous connaissez <br>
                    Pas le droit à l'échec <br>
                    On vous met la piquette <br>
                    On est CentraleSupélec
                </p>

                <p class="texte_presentation_droite">
                    <em style="font-weight:bold">La peña des gifois</em> <br>
                    (Sur l'air de la peña baiona, chant phare des supporters de l'Aviron Bayonnais) <br><br>
                    Allez Allez! <br>
                    Les Supélecs les Centraliens de Saclay <br>
                    C'est la peña, c'est la peña des Gifois <br>
                    On est tous là allez les gars, encore une fois <br>
                    Allez Allez! <br>
                    Les Supélecs les Centraliens de Saclay <br>
                    A Centrale Lyon on va bien vous niquer <br>
                    On applaudit à nos exploits, c'est gagné...
                </p>

                <p class="texte_presentation_gauche">
                    <em style="font-weight:bold">A CS quand arrivent les ICs</em> <br>
                    (On entre dans la section spéciale ICs) <br><br>
                    A CS quand arrivent les ICs <br>
                    Les provinciaux viennent pour se faire poutrer <br>
                    Allez Allez <br>
                    Allez CS Allez
                </p>

                <p class="texte_presentation_droite">
                    <em style="font-weight:bold">Votre premier choix</em> <br>
                    (Sur l'air de "il est vraiment phénoménal") <br><br>
                    Et c'était quoi? <br>
                    Et c'était quoi? <br>
                    Et c'était quoi votre premier choix? <br>
                    Lalalalala Lalalalala <br>
                    Pas Centrale Lyon, pas Centrale Nantes, <br>
                    Pas Centrale Lille mais Centrale Pa lalalalala <br>
                    Pas Centrale Lyon, pas Centrale Nantes, <br>
                    Centrale Marseille on en parle pas lalalalala
                </p>

            </div>

      
    

        {% include "./sponsors.html" %}
    </div> 

        {% endblock %}