{% extends "./base1_login.html" %}
{% load static %}


{% block content %}

<div class="page_membre">
<a href="{% url 'form'%}" class="btn retour_membre btn-danger">Retour à l'espace membre</a> <br>
<div class="alert explication_membre alert-danger" role="alert">
    Sur cette page s'affichent les tâches pour lesquelles tu t'es engagé(e) à les faire. <br>
    Pour modifier des données sur une tâche clique sur le bouton modifier
  </div>


<div class='affichage_tache'>
  
    {% for tache in tache_list %}
    <div class="card card_tache">
      
          {%if tache.urgent and not tache.pris_par %}
          <h5 class="card-header etat_tache_urgent"> URGENT : {{tache.fait_par}} a publié : {{tache.titre}}  </h5>
            {%elif tache.pris_par %}
            <h5 class="card-header tache_prise">{{tache.fait_par}} a publié : {{tache.titre}}</h5>
            {%else%}
            <h5 class="card-header etat_tache">{{tache.fait_par}} a publié : {{tache.titre}}</h5>
              {%endif%}
    
              <div class="card-body">
                <h5 class="card-title">Deadline : {{tache.deadline}}</h5>
             
                {% if tache.pris_par or tache.choix_pris_par.all %}
                Tache prise par : <em >{{tache.pris_par}} </em>,
               {% for prenom in tache.choix_pris_par.all %}{{ prenom }},{% endfor %}
               {%else%}
                Tache à prendre !
                {%endif%}
             &emsp;Status : {{tache.status}}
             <br>
         {% if tache in tache_perso_list %}
          <p>Tu t'es engagé(e) pour cette tache</p>
          {%endif%}
             <a href='{{tache.get_absolute_url}}' class="btn btn-primary">Modifier</a>
             {% if tache.fait_par == prenom %} 
         <a href="{% url 'supprime_tache_perso' id=tache.id %} " class="btn btn-primary">Supprimer</a>
         {%endif%}
         <a href= "{% url 'plus_prendre_tache_perso' id=tache.id %}" class="btn btn-primary">Ne plus faire la tache</a>
            
    <!-- Button trigger modal -->
    
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Détail
      </button>
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Détail de la tâche</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
            <h3>Titre :</h3> <p>{{tache.titre}}</p>
            <h6>Publié par :</h6> <p>{{tache.fait_par}}</p>
            <h6>Deadline :</h6> <p>{{tache.deadline}}</p>
            <h6>Description :</h6> <p>{{tache.description}}</p>
            <h6>Pris par :</h6> <p>{{tache.pris_par}}</p>
            <h6>Status :</h6> <p>{{tache.status}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    
    </div>
    </div>
    </div>   
           
    {%endfor%}
          </div> 


{%endblock %}