{% load static %}
<br>
      <hr>

      <h2 class="titre_partie">Remerciements</h2>




      <div class="sponsor">
        <a href="https://cs-sports.fr/BDS/index.php" target="_blank"> <img src="{% static 'style/img/sponsors/sponsors_bds.png' %}" class="bds img_sponsor"> </a>
        <a href="#"> <img src="{% static 'style/img/sponsors/sponsors_cs.png' %}" class="cs img_sponsor"></a>
        <a href="https://galerie.pics/" target="_blank"> <img src="{% static 'style/img/sponsors/sponsors_pics.PNG' %}"
            class="pics img_sponsor"></a>
      </div>
